description = "footer"
==
<!-- Footer -->
<footer id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="footer-widget">
						<h3>About Us</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
						
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-widget">
						<h3>Quick Links</h3>
						<ul>
							<li><a href="about-us.html">About Us</a></li>
							<li><a href="tours.html">Tours</a></li>
							<li><a href="gallery.html">Gallery</a></li>
							<li><a href="contact-us.html">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-widget">
						<h3>Contact Info</h3>
						<ul>
							<li><i class="fa fa-send" aria-hidden="true"></i> 3481 Rabana Place, 2090</li>
							<li><i class="fa fa-phone" aria-hidden="true"></i> +880 17980XXXXX</li>
							<li><i class="fa fa-envelope-o" aria-hidden="true"></i> info@example.com</li>
							<li><i class="fa fa-fax" aria-hidden="true"></i> Fax : 02 9635 0247</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-widget">
						<h3>Business hour</h3>
						<ul class="bussiness-hour">
							<li>Monday-Friday: <span class="pull-right">9am - 5pm.</span></li>
							<li>Saturday: <span class="pull-right">10am - 2pm.</span></li>
							<li>Sunday: <span class="pull-right">Closed.</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<div class="copyright">
						<p>Copyright &copy; 2018. All rights reserved.</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<ul class="social-icons pull-right">
						<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end footer -->

<!-- Bact to top -->
<div class="back-top">
	<a href="#"><i class="fa fa-angle-up"></i></a>
</div>